//Color
$primary: #2f2e50;
$secondary: #1062e5;
$white: #fff;
//Size
$primarySize: 16px;
$headingFSize: 22px;
// Border Radius
$border-radius: 5px;
$border-radius-o: 0;
// Opacity
$btn-disabled-opacity: .65;